<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_153503_Zviagintsava</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/all.min.css" />
    <link rel="stylesheet" href="~/WEB_153503_Zviagintsava.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/font-awesome/css/brands.css" rel="stylesheet">
    <link href="~/font-awesome/css/solid.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <!-- Панель навигации -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <!-- меню сайта -->
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">WebLabs</a>
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" asp-action="Lab1" asp-controller="Home">Лр 1</a>
                    <a class="nav-item nav-link" href="#">Каталог</a>
                    <a class="nav-item nav-link" href="#">Администрирование</a>
                </div>
                <!-- меню сайта - конец -->
                <!-- Информация пользователя -->
                <a href="#" class="navbar-text ms-auto">
                    00,0 руб <i class="fa-solid fa-cart-shopping"></i> (0)
                </a>
                <div class="dropdown ms-4 nav-color">
                    <button class="btn btn-secondary dropdown-toggle"
                            type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        User@gmail.com
                        <img src="~/images/1.jpg" width="30"
                             alt="User" class="rounded nav-color" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <span class="dropdown-item-text">
                                <img src="~/images/1.jpg"
                                     width="50" alt="User" class="rounded" />
                                user@gmail.com
                            </span>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form id="logoutForm" class="form-inline">
                                <button id="logout" type="submit" class="nav-link
                                    btn btn-link text-dark">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- Информация пользователя - конец -->
            </nav> <!-- Панель навигации - конец -->
        </div><!-- container - конец -->
    </header><!-- header - конец -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="navbar navbar-dark navbar-expand-md bg-dark">
                <p class="footer-color">&copy; 2023 - WEB_153503_Zviagintsava - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                <nav class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="http://www.facebook.com">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.vk.com">
                        <i class="fa-brands fa-vk"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.twitter.com">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </nav>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
