header, footer {
    background-color: rgba(var(--bs-dark-rgb));
}

.nav-color {
    color: rgba(255, 255, 255, 0.5);
}

.footer-colour {
    color: white;
}

.radio-container {
    display: inline-block;
    margin-right: 50px;
}

.footer p {
    color: whitesmoke;
}
